body{
    font-family:Arial;
}
@font-face {
    font-family:rufina-bold;
    src:url(fonts/TipoType_Rufina.Bold.otf);
}
@font-face {
    font-family:work-sans;
    src:url(fonts/worksans/WorkSans-Medium.otf);
}
.title{
 text-align:center;
 margin:0;
 font-size:50px;
 font-family:'Playfair Display';
 font-weight: 100;
}
.sec{
 color:lightgray;
 font-size:10px;
}
.menu{
    font-size:9px;     
    display:flex;
    justify-content:center;
    font-size:10px;
}
    .menu-right{
        display:flex;
        flex-basis:auto;
        border:1px solid black;
}

    .menu-left{
        display:flex;
        flex-basis:auto;
        border:1px solid black;
}
nav>div{
 border:1px solid black;
 padding:10px 15px 10px 15px;
 width:100%;
}
nav.menu>div>a{
    text-decoration:none;
    color:black;
}
nav.menu>div>a:focus{
    color:goldenrod;
}
nav.menu>div>a:hover{
    color:red;
}

input[type="search"]{
    border:none;
}
button.right-sign-in{
    background-color:white;
    border:none;
    word-wrap:;
}
img.menu-left-icons{
 padding-left:10px;
}
.menu-bar{
    display:flex;
    width:100%;
    justify-content:space-around;
    flex-basis:auto;
    margin-top:40px;
}
select.country{
    border:none;
}
.background-girl{
    height: 690px;
    width:100%;
    display:block;
    background:url("accessories/Girl.png") no-repeat;
}
.girl-title{
    display:flex;
    flex-direction:column;
    align-items: center;
    position:relative;
    top:460px;     
}
.my-life{
    max-width:79px;
    max-height:26px;
    background-color:#ff0000;
    color:white;
    text-align:center;
    font-size:11px;
    padding:5px 10px;
    font-family:Arial;   
}
.title-below{
    font-family:'Slabo 27px';
    color:white;
    font-size:40px;
}
.main-page{
    display:flex;
    width:66%;
                    background-color:reenyellow;
    flex-direction:row;
    position:relative;
    left:17%;
    margin-top:93px;
    border-bottom:1px dashed gainsboro;
}
    .first-column{
         display:flex;
         flex-direction:column;
                            background-color:ed;
         margin-right:26px;
    }
        [class^="element-first"]{
            padding-bottom:60px;
            width:auto;
            display:flex;
            flex-direction:column;
            align-items:center;
            flex-wrap:wrap;
        }
            img.picture-main{
                position: relative;
                width:100%;
            }
            input.button{
                position:absolute;
                bottom:55px;
                left:25px;
            }
            a.anchor{
                position:absolute;
                bottom:25px;
                left:25px;
            }
            .second-column{
             display:flex;
             flex-direction:column;
                            background-color:lueviolet;
             margin-right:121px;
            }
            .line-first{
                border-bottom:1px solid grey;
                width:auto;
                padding:0 10px;
            }
            .title-first{
                line-height:25px;
            }
            .big-title{
                font-size:22px;
                font-weight:700;
                text-align:center;
                line-height:35px;
                font-family:rufina-bold;
            }
            .description{
                font-size:13px;
                line-height:25px;
                text-align:center;
                color:grey;
                width:auto;
                font-family:Arial;
                margin-top:0;
                margin-bottom:25px;
            }
            .underlined{
                font-size:12px;
                border-bottom:1px solid grey;
                width:auto;
                padding:0 10px;
                color:grey;
                font-style:italic;
            }
            .relative{
                position:relative;
            }
        [class^="element-second"]{
            width:auto;
            padding-bottom:60px;
            display:flex;
            flex-direction:column;
            align-items:center;
            flex-wrap:wrap
        }
    .third-column{
     display:flex;
     flex-direction:column;
                        background-color:ink;
    }
        [class^="element-third"]{
            width:auto;
            margin-bottom:60px;
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
        }
            .follow{
                color:grey;
                font-size:12px;
            }
            .line{
                border-bottom:1px grey solid;
                width:auto;
                padding-bottom:2px;
            }
            .small{
                font-size:12px;
            }
            .grey{
                color:grey;
            }
            
            article>div{
                margin-bottom:25px;
            }
            article>h1{
                margin-bottom:25px;
                margin-top:0px;
            }
            div>span>a>img{
                padding-right:1px;
                padding-left:4px;
            }
        .element-third-2{
            background-color:#f5f5f5;
            height:180px;
            justify-content:center;
            align-items: flex-start;
            padding-left:20px;
            padding-right:20px;
            width:auto;
        }
            .newsletter{
                margin-bottom:15px;
                font-weight:700;
                font-family:rufina-bold;
                font-size:18px;
            
            }
            input.news-area{
                margin-right:0;
                padding-right:0;
                padding-left:10px;
                height:34px;
                width:180px;
                background-color:#f5f5f5;
                border:1px solid grey; 
                float:left;
                font-style: italic;
            }
            input.news-submit{
                background-color:black;
                color:white;
                border:2px solid black;
                margin-left:0;
                padding:10px 15px;
                font-size:12px;
                float:left;
            }
            input.news-submit::after{
                content:"";
                display:table;
                clear:both;
            }    
            .grey-border{
                background-color:#f5f5f5;
            }
        .element-third-4{
            display:flex;
            flex-direction:column;
            width:auto;
        }
            .aside-box{
                display:flex;
                flex-direction:row;
                justify-content:flex-start;
            }
            .underlined-aside{
                font-size:12px;
                border-bottom:1px solid grey;
                width:auto;
                padding:0 10px 2px 0 ;
                color:grey;
                font-style:italic;
                font-weight:400;
                margin-top:0;
                margin-bottom:0;
            }
            .space{
                margin-bottom:50px;
            }
            .name-aside{
                font-family:rufina-bold;
                font-size:35px;
            }
            .description-aside{
                font-size:12px;
                line-height:25px;
                color:grey;
                margin-top:0;    
            }
            .big-underlined{
                font-size:22px;
                font-family:rufina-bold;
                border-bottom:1px solid grey;
                padding-bottom:5px;
                margin-bottom:25px;
                margin-top:0;
            }
            .posts-aside{
                line-height:25px;
                font-weight:700;
                font-family:rufina-bold;
            }
            .posts-aside>div{
                color:grey;
            }
            [class^="categories"]{
                padding:10px;
                font-weight:700;
                font-size:12px;
            }
            .categories-even{
                background-color:#f5f5f5;
            }
            [class^="categories"]>a{
                text-decoration:none;
                color:black;
                font-family:rufina-bold;
            }
            [class^="categories"]>a:focus{
                color:goldenrod;
            }
            [class^="categories"]>a:hover{
                color:red;
            }
    .instagram{
        font-family:rufina-bold;
        font-size:30px;
        text-align:center;
        display:block;
        margin:40px;
    }
    .insta-sheet{
        display:flex;
        flex-direction:row;
        margin-top:20px;    
    }
    div[class^="insta-bar"]{
        display:flex;
        flex-direction:column;
    }
    .insta-bar-3>div{
        display:flex;
        flex-direction:row;
    }
    .footer{
        display:flex;
        width:100%; 
    }
    .footer-white{
        width:50%;
        display:flex;
        flex-direction:column;
    }
        .white-elements{
        display:flex;
        flex-direction:column;
        align-items: flex-end;
        margin:40px 60px;
    }
    .white-elements>div{
        color:grey;
        margin:15px;
    }
    .footer-grey{
        width:50%;
        background-color:#f5f5f5;
        display:flex;
    }
    .grey-elements{
        display:flex;
        margin: 40px 65px;
    }
    .grey-elements>a{
        text-decoration:none;
        color:grey;
        margin:40px 10px 0 5px;
    }
    .grey-elements>a:focus{
        color:goldenrod;
    }
    .grey-elements>a:hover{
        color:red;
    }
                    